@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Jost', sans-serif;
    background-color: #FFF9EC;
}

header {
    background-color: #033929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100px;
    color: #FFF9EC; 
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo img {
    height: 60px;
}

h1 {
    font-size: 24px;
    background-color: #FFF9EC;
    color: #033929; 
    padding: 10px 20px;
    border-radius: 10px; 
    margin: 0;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
}

nav ul li {
    list-style: none;
}

.main-button-link {
    text-decoration: none;
}

.header-button {
    background-color: #FFF9EC;
    color: #033929; 
    border: 2px solid #FFF9EC;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px; 
    font-weight: 700; 
    border-radius: 35px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.header-button:hover {
    background-color: #033929;
    color: #FFF9EC; 
    border: 2px solid #FFF9EC;
}

main {
    text-align: center;
    padding: 20px;
    position: relative;
    min-height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#profile-page {
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

#profile-form {
    background-color: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#profile-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#profile-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#profile-form button {
    width: 100%;
    padding: 10px;
    background-color: #033929; 
    color: white;
    border: 2px solid #033929;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#profile-form button:hover {
    background-color: #FFF9EC; 
    color: #033929; 
    border: 2px solid #033929;
}


#mapcontent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    gap: 20px; 
}

#map {
    width: 60%; 
    height: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

.tagline {
    font-size: 110px; 
    font-weight: 800; 
    color: #033929;
    margin-bottom: 100px;
    margin-left: -500px; 
    line-height: 1.1; 
    text-align: left;
}

.main-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 58%; 
    left: 23%; 
    transform: translateX(-50%);
}

.main-button {
    background-color: #FFF9EC;
    color: #033929;
    border: 2px solid #033929; 
    padding: 16px 32px; 
    cursor: pointer;
    font-size: 22px; 
    font-weight: 700; 
    border-radius: 35px;
    text-align: center;
    margin-top: 35px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.main-button:hover {
    background-color: #033929;
    color: #FFF9EC; 
}

.dog-image img {
    max-width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
}

form {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #033929;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #033929;
}

p {
    color: green;
    text-align: center;
}


.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link .main-button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #033929;
    color: #FFF9EC;
    border-radius: 35px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease, color 0.3s ease;
}


a {
    color: #FFF9EC;
  text-decoration: none;
}

.register-link .main-button-link:hover {
    background-color: #FFF9EC;
    color: #033929;
    border: 2px solid #033929;
}

footer {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #033929; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF9EC; 
    font-size: 16px;
    font-weight: 700; 
}
